<div class="trip-page">
  <section class="panel">
    <div class="panel-legend">
      <span>Add Trip</span>
    </div>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="form-grid">

      <!-- CODE -->
      <div class="row">
        <label class="lbl">Code:</label>
        <div class="ctrl">
          <input
            type="text"
            formControlName="code"
            class="input"
            [ngClass]="{ 'invalid': submitted && f['code'].errors }"
          />
          <div class="err" *ngIf="submitted && f['code'].errors">
            Trip Code is required
          </div>
        </div>
      </div>

      <!-- NAME -->
      <div class="row">
        <label class="lbl">Name:</label>
        <div class="ctrl">
          <input
            type="text"
            formControlName="name"
            class="input"
            [ngClass]="{ 'invalid': submitted && f['name'].errors }"
          />
          <div class="err" *ngIf="submitted && f['name'].errors">
            Name is required
          </div>
        </div>
      </div>

      <!-- LENGTH -->
      <div class="row">
        <label class="lbl">Length:</label>
        <div class="ctrl">
          <input
            type="text"
            formControlName="length"
            class="input"
            [ngClass]="{ 'invalid': submitted && f['length'].errors }"
          />
          <div class="err" *ngIf="submitted && f['length'].errors">
            Length is required
          </div>
        </div>
      </div>

      <!-- START -->
      <div class="row">
        <label class="lbl">Start:</label>
        <div class="ctrl">
          <div class="date-row">
            <input
              type="date"
              formControlName="start"
              class="input"
              [ngClass]="{ 'invalid': submitted && f['start'].errors }"
            />
            <span class="calendar">📅</span>
          </div>
          <div class="err" *ngIf="submitted && f['start'].errors">
            Date is required
          </div>
        </div>
      </div>

      <!-- RESORT -->
      <div class="row">
        <label class="lbl">Resort:</label>
        <div class="ctrl">
          <input
            type="text"
            formControlName="resort"
            class="input wide"
            [ngClass]="{ 'invalid': submitted && f['resort'].errors }"
          />
          <div class="err" *ngIf="submitted && f['resort'].errors">
            Resort is required
          </div>
        </div>
      </div>

      <!-- PER PERSON -->
      <div class="row">
        <label class="lbl">Per Person:</label>
        <div class="ctrl">
          <input
            type="text"
            formControlName="perPerson"
            class="input small"
            [ngClass]="{ 'invalid': submitted && f['perPerson'].errors }"
          />
          <div class="err" *ngIf="submitted && f['perPerson'].errors">
            Per Person is required
          </div>
        </div>
      </div>

      <!-- IMAGE -->
      <div class="row">
        <label class="lbl">Image Name:</label>
        <div class="ctrl">
          <input
            type="text"
            formControlName="image"
            class="input"
            [ngClass]="{ 'invalid': submitted && f['image'].errors }"
          />
          <div class="err" *ngIf="submitted && f['image'].errors">
            Image Name is required
          </div>
        </div>
      </div>

      <!-- DESCRIPTION -->
      <div class="row">
        <label class="lbl">Description:</label>
        <div class="ctrl">
          <input
            type="text"
            formControlName="description"
            class="input wide"
            [ngClass]="{ 'invalid': submitted && f['description'].errors }"
          />
          <div class="err" *ngIf="submitted && f['description'].errors">
            Description is required
          </div>
        </div>
      </div>

      <!-- MESSAGE -->
      <div class="msg bad" *ngIf="message">
        {{ message }}
      </div>

      <!-- Create -->
      <div class="actions">
        <button type="submit" class="save-btn">Create</button>
      </div>
    </form>
  </section>
</div>